/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* USERS */
.text-right {
    white-space: nowrap
}

/* LOGIN */
.form-login {
    max-width: 100%;
    overflow-x: hidden;
}

.login-container {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 30%;
}

.login-form {
    padding: 6%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
    text-align: center;
    margin-bottom: 12%;
    color:#fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}

.btnForgotPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgotPwd:hover {
    text-decoration:none;
    color:#fff;
}

/* MENU LIST */
.list-group {
    width: 220px;
    margin-left: 20px;
}

/* CHECKBOX CUSTOM*/
.cont-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

.cont-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.cont-check input:checked ~ .checkmark1 {
    background-color: #2196F3;
}

.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

.cont-check input:checked ~ .checkmark1:after {
    display: block;
}

.cont-check .checkmark1:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* BUTTON RADIO CUSTOM*/
.cont-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

.cont-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.cont-radio input:checked ~ .checkmark2 {
    background-color: #2196F3;
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

.cont-radio input:checked ~ .checkmark2:after {
    display: block;
}

.cont-radio .checkmark2:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}